apiVersion: v1
kind: Secret
metadata:
  name: {{ repo_secret_name }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  url: {{ argocd_repo_url }}
  name: {{ argocd_repo_name }}
  sshPrivateKey: |-
{% for line in ssh_private_key.splitlines() %}
    {{ line }}
{% endfor %}
  insecureIgnoreHostKey: "true"
