- name: Update repositories cache and upgrade system
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    cache_valid_time: 3600
    autoclean: yes
  when: ansible_facts.os_family == "Debian"

- name: Update repositories cache and upgrade system on RHEL/CentOS/Fedora
  ansible.builtin.command: dnf5 -y upgrade --refresh
  register: dnf5_upgrade
  changed_when: dnf5_upgrade.rc == 0 and
                ("Nothing to do." not in (dnf5_upgrade.stdout | default(""))) and
                ("No packages marked for upgrade." not in (dnf5_upgrade.stdout | default("")))
  failed_when: dnf5_upgrade.rc != 0
  when: ansible_facts.os_family in ["RedHat"]

- name: Check if a reboot is needed
  register: reboot_required_file
  stat:
    path: /var/run/reboot-required

- name: Reboot if needed
  ansible.builtin.reboot:
    msg: "Reboot initiated by Ansible for kernel updates"
    connect_timeout: 5
    reboot_timeout: 300
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: uptime
  when: reboot_required_file.stat.exists
