---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_name }}
  namespace: {{ argocd_namespace }}
  finalizers:
    - argocd.argoproj.io/resources-finalizer
spec:
  project: default
  source:
    repoURL: {{ argocd_root_service_repo_url }}
    path: {{ argocd_root_service_path }}
    targetRevision: {{ argocd_root_service_branch }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true